.btn, a.btn {
  display: inline-block;
  padding: 8px;
  min-width: 185px;
  background: var(--white);

  font-size: 14px;

  line-height: 1.7;
  text-transform: capitalize;
  text-align: center;

  &--small{
    min-width: unset;
    padding-right: 15px;
    padding-left: 15px;
  }
}
