.color {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  @include tablet {
      width: 16px;
      height: 16px;
  }

  &--black {
    background-color: var(--black);
  }

  &--blue {
    background-color: #7dc3eb;
  }

  &--green {
    background-color: var(--primary);
  }
}
