.header {
  position: relative;
  z-index: 200;
  padding: 24px 0;
  background-color: var(--white);

  @include mobile {
    padding: 4px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__nav {
    margin-left: auto;
    @include mobile {
      display: none;
    }
    &-list {
      display: flex;
      gap: 0 30px;

      @include tablet {
        gap: 0 15px;
      }
      & a {
        font-weight: 400;
        font-size: 18px;

        line-height: 1.8;
        text-transform: capitalize;
        color: var(--neutral-gray404040);

        @include tablet {
          font-size: 16px;
        }

        &.active {
          color: var(--primary-primary-600);
        }
      }
    }
  }

  &__account {
    &-menu {
      display: none;

      @include mobile {
        display: block;
      }
    }

    &-person {
      @include mobile {
        display: none;
      }
    }

    @include mobile {
      order: 2;
    }

    &--first {
      margin-left: auto;
      margin-right: 24px;

      @include tablet {
        margin-right: 12px;
      }

      @include mobile {
        order: -1;
        margin-left: unset;
      }
    }
  }

  &__account-list {
    display: flex;
    align-items: center;
    gap: 0 24px;

    @include tablet {
      gap: 0 12px;
    }

    & a {
      display: inline-block;
      transition: 0.2s ease-in;
    }

    & a:hover {
      background: var(--neutral-grayededed);
    }
  }
}
