.swiper {
  width: 100%;
  padding-bottom: 32px !important;

  &-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    border-radius: 100% !important;
    background: var(--neutral-grayadadad) !important;
    opacity: unset !important;
    margin: 0 8px !important;

    &-active {
      border-radius: 100% !important;
      background: var(--neutral-graydfdfdf) !important;
    }
  }
}
